/*------------------------------------------------------------------Document-------------------------------------------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Epilogue";
  background-color: hsl(0, 0%, 98%);
  color: hsl(0, 0%, 8%);
}

/*------------------------------------------------------------------Body-------------------------------------------------------------------------------------------------*/
body {
  min-height: 1080px;
  height: fit-content;
  overflow-x: hidden;
  position: relative;
}

a {
  color: hsl(0, 0%, 41%);
  transition: 0.3s ease-in-out;
  font-size: 16px;
  background-color: transparent;
}

li {
  background-color: transparent;
}

a:hover {
  color: hsl(0, 0%, 8%);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  height: 70px;
  padding: 0 20px;
}

.logo__ {
  padding-top: 10px;
}

.nav {
  display: block;
  visibility: hidden;
  z-index: 995;
  width: 65vw;
  height: 100vh;
  position: absolute;
  top: 0;
  right: -100%;
  transition: 0.1s ease-in-out;
}

.nav .nav__list {
  margin-top: 75px;
  padding-left: 25px;
}

.nav .nav__list .nav__list--item {
  padding: 13px 0;
}

.nav__active {
  display: block;
  visibility: visible;
  z-index: 995;
  width: 65vw;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
}

.member__section {
  display: flex;
  margin-top: 2rem;
  flex-direction: column;
  align-items: center;
}

.login {
  color: hsl(0, 0%, 41%);
}

.resgiter {
  margin-top: 1rem;
  padding: 0.7rem 4rem;
  font-size: 15px;
  color: hsl(0, 0%, 41%);
  border: 2px solid hsl(0, 0%, 41%);
  border-radius: 0.8rem;
}

.features {
  display: none;
}

.dd__features {
  display: block;
  opacity: 1;
  visibility: visible;
}

.features .dd__list--item {
  margin-top: 20px;
  height: 17px;
  display: flex;
  gap: 10px;
}

.features .dd__list--item .nav__list--link {
  padding-top: 1px;
}

.features .dd__list--item .link__icon {
  display: block;
  width: 13px;
  height: 14px;
}

.company {
  display: none;
}

.dd__company {
  display: block;
}

.dd__company .dd__list--item {
  margin: 20px;
}

.arrow__uped {
  transform: rotate(180deg);
}

.burger__menu {
  width: 32px;
  height: 26px;
  position: relative;
  cursor: pointer;
}

.burger {
  position: absolute;
  z-index: 50;
  top: 4px;
  background-color: transparent;
}

.burger__hidden {
  display: none;
  transition: 1s;
}

.close__burger {
  display: none;
}

.close__burger--displayed {
  display: block;
  position: absolute;
  z-index: 49;
  left: 3px;
  background-color: transparent;
  z-index: 999;
}

/*--------------------CONTAINER----------------------------*/

.container {
  display: flex;
  flex-direction: column;
  flex-flow: wrap-reverse;
  text-align: center;
  /* overflow: hidden; */
}

.hero__image--desktop {
  display: none;
}

.hero__image--mobile {
  width: 100vw;
  height: auto;
}

.intro__title {
  margin-top: 2rem;
  /* font-weight: 700; */
  font-size: clamp(6px, 1.2vw, 10px);
}

.intro__description {
  margin-top: 2rem;
  padding: 0 20px;
  font-size: 18px;
  color: hsl(0, 0%, 41%);
  line-height: 1.4;
}

.learn__more--button {
  margin-top: 2rem;
  padding: 0.8rem 1rem;
  box-sizing: border-box;
  color: hsl(0, 0%, 98%);
  background-color: hsl(0, 0%, 8%);
  border: 2px solid hsl(0, 0%, 8%);
  border-radius: 0.8rem;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.learn__more--button:hover {
  color: hsl(0, 0%, 8%);
  background-color: transparent;
}

.sponsor__section {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.sponsor__unit {
  max-width: 60px;
  height: auto;
  background-color: transparent;
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  margin-top: 40px;
  background: transparent;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
}

.attribution a {
  font-size: 12px;
  line-height: 1.5;
  background: transparent;
  color: #3e52a3;
}

/*

Deskop styling

*/

@media screen and (min-width: 870px) {
  .burger__menu {
    display: none;
  }

  .header {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 calc(5vw + 2rem);
  }

  .logo__ {
    width: clamp(25px, 6vw, 85px);
  }

  .nav {
    display: flex;
    margin: 0;
    z-index: 995;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    height: 70px;
    position: relative;
    top: 0;
    right: 0;
    transition: 0.1s ease-in-out;
  }

  .nav .nav__list {
    margin-top: 0;
    display: flex;
    gap: 2rem;
  }
  .nav__list--item a {
    font-size: clamp(0.6rem, 1.2vw, 0.8rem);
  }

  .features {
    display: block;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    top: 3.5rem;
    left: -2rem;
    padding: 0.5rem 1.4rem 1.6rem 1.4rem;
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.123);
  }

  .features__item:hover .features {
    opacity: 1;
    visibility: visible;
  }

  .features__item:hover .features__arrow--down {
    transform: rotate(180deg);
  }

  .dd__features {
    display: block;
    opacity: 1;
    visibility: visible;
  }

  .company {
    display: block;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    top: 3.5rem;
    padding: 0.5rem 0.8rem 0.5rem 0.8rem;
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.123);
  }

  .company .dd__list--item {
    margin: 20px;
  }

  .company__item:hover .company {
    opacity: 1;
    visibility: visible;
  }

  .company__item:hover .company__arrow--down {
    transform: rotate(180deg);
  }

  .dd__company {
    opacity: 1;
    visibility: visible;
  }

  /* Member section */

  .member__section {
    display: flex;
    margin-top: 0;
    flex-direction: row;
    align-items: center;
    gap: 1.2rem;
  }

  .login {
    color: hsl(0, 0%, 41%);
  }

  .login:hover {
    color: hsl(0, 0%, 8%);
  }

  .resgiter {
    margin-top: 0;
    padding: 0.6rem 1rem;
    font-size: 15px;
    color: hsl(0, 0%, 41%);
    border: 2px solid hsl(0, 0%, 41%);
    border-radius: 0.8rem;
    cursor: pointer;
    transition: 0.5s ease-in-out;
  }

  .resgiter:hover {
    margin-top: 0;
    padding: 0.6rem 1rem;
    font-size: 15px;
    color: hsl(0, 0%, 8%);
    border: 2px solid hsl(0, 0%, 8%);
    border-radius: 0.8rem;
  }

  /* Container */
  /* Container */
  /* Container */
  /* Container */

  .container {
    display: flex;
    /* margin: calc(3vw + 2.8rem) auto; */
    /* padding: 1 5rem; */
    margin: 5.5rem auto;
    max-width: 1450px;
    justify-content: space-around;
    flex-direction: row;
    flex-flow: wrap;
    text-align: center;
    position: relative;
  }

  .intro__hero {
    width: fit-content;
    max-width: 800px;
    height: fit-content;
    gap: 3rem;
    text-align: left;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 3rem 0 0 0;
  }

  .intro__title {
    font-weight: 700;
    font-size: clamp(1.2rem, 4vw, 4rem);
    max-width: 500px;
  }

  .intro__description {
    max-width: 450px;
    font-size: clamp(0.3rem, 1vw, 0.8rem);
    max-width: 350px;
    padding: 0;
    margin: 0;
  }

  .learn__more--button {
    margin-top: 0;
    font-size: clamp(0.3rem, 1vw, 0.8rem);
    padding: 10px 15px;
    max-width: 150px;
    width: calc(5vw + 50px);
  }

  .sponsor__section {
    padding: 0;
    margin: 0;
    background-color: transparent;
    display: flex;
    justify-content: flex-start;
    gap: calc(2vw + 1rem);
  }

  .hero__image--section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
  }

  .hero__image--desktop {
    display: block;
    max-width: 350px;
    width: 25vw;
    min-width: 280px;
    height: auto;
  }

  .hero__image--mobile {
    display: none;
  }

  .attribution {
    font-size: 11px;
    text-align: center;
    position: absolute;
    margin-top: 40px;
    background: transparent;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
  }

  .attribution a {
    font-size: 12px;
    line-height: 1.5;
    background: transparent;
    color: #3e52a3;
  }
}
